@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme {
    --breakpoint-*: initial;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;

    --color-weather-primary : #00668A;
    --color-weather-secondary: #004e71;


    --font-roboto : "Roboto", sans-serif;

    --container-padding : 2rem;
    --container-center : true;
}